<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Youn lab</title>
</head>
<body>
<h1>instargram</h1>
<div>
    {% if user.is_authenticated %}
        <form action="{% url 'members:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">로그아웃 하기</button>
        </form>
        {% else %}
        <a href="{% url 'members:login' %}"> 로그인하기 </a>
    {% endif %}
</div>
<div class="container">
    <div>
    {% block content %}
    {% endblock %}
    </div>
</div>

</body>
</html>